html {
	background-image: url("../images/paddys.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
	margin: 10px;
}

header img {
	display: block;
    margin: auto;
    padding-bottom: 15px;
}

.container {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.character-image {
	display: inline-block;
  	height: 185px;
	padding: 0px 20px 0px 20px;
	margin: 0px 2px 0px 2px;
	background-color: rgba(255,255,255,0.8);
	border-color: green;
	border: solid 2px;
	border-radius: 5px;
}

.character-image img {
	border-radius: 5px;
}

.character-image p {
	font-size: 15px;
	font-family: monospace;
	text-align: center;
	margin: 0px 2px 0px 2px;

}

.character-image p.health {
	font-size: 10px;
}

h2 {
	font-family: monospace;
	color: white;
}

#characters-available {
	width: 60%;
	text-align: center;
	margin: 0 auto;
}

#your-character, #enemies-available {
	height: 250px;
	margin-bottom: 25px;
}

#your-character {
	width: 40%;
	float: left;
}

#enemies-available {
	width: 60%;
	float: right;
}

#fight-section {
	width: 60%;
	float: right;
}

#defender-section {
	width: 40%;
	float: left;
}

#message-section {
	width: 60%;
	float: right;
	margin-top: 15px;
}

#message-section p {
	font-family: monospace;
	color: white;
}

.available-character, .chosen-character {
	clear: both;
	background-color: rgba(255,255,255,0.8);
	border-color: green;
}

.enemy-character {
	background-color: rgba(199,20,0,0.8);
	border-color: black;
}

.defender-character {
	background-color: rgba(0,0,0,0.8);
	border-color: green;
}

.defender-character p {
	color: white;
}


